:root {
    --black:#233537;
    --orange:#ff3858;
    --nelle:#232e3d;
    --green:#4fe2cb;


}
* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    font-family: "roboto", Arial, sans-serif;

}
body{
    
    width: 100%;
}
.container {
    width: 70%;
    margin-left:auto;
    margin-right:auto;
}

@media (max-width:767px) {

    .container {
        width: 90%;
    }

}

/* start nav */
nav {
    width:100%
}
nav .container {
    display:flex;
    justify-content:space-between;
    padding-top:10px;
    padding-bottom: 10px;
    height: 70px;   
    align-content: center;
}
nav .container .logo {    
    height: 50px;
    margin-bottom: 30px;
}

nav .container .logo img {
    height: 50px;

}
nav .container .list {
    flex:1;
    display:flex;
    justify-content: flex-end;
    position: relative;
    

}nav .container .list i {

    color:black;
    font-size: 30px;
    margin-top:8px;
    display: none;

}


nav .container ul {
    list-style: none;
    height: 50px;
    display:flex;

}
nav .container ul li {

    margin-left: 25px;  
    width:80px;
    padding-top:10px;
    text-align: center;

}

nav .container ul .active {

    background-color:var(--green);
    color:white;
}


nav .container ul a {
    text-decoration: none;
    color:black;
    width: 100%;
   
}
nav .container ul .active a {
    color: white;
}

nav .container ul li:hover, nav .container ul li:hover a {

    background-color:var(--green);
    color:white;
}
@media (max-width:767px) {
    nav .container .list i {
        display:flex;
        margin-right: 10px
    }
    nav .container ul {
        display:none;
        position:absolute;
        top:100%;
        right:20px;
        width:60%;
        z-index:999;
        background-color: var(--nelle);
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav .container ul li {
        display: block;
        width: 100%;
        margin-left: 0;

    }
    nav .container ul li:hover ,nav .container ul .active:hover{
        background-color: var(--green);
    }
    nav .container ul li a{
        color:white
    }
    nav .container ul li.active {
        background-color: inherit;
    }
}
/* end nav */
/* start hero */
.hero {
    background-color: var(--green);
    height:350px;
    padding-top:100px;
    width:100%;
    font-family: 'Roboto', sans-serif;
}
.hero h1 {
   
    font-weight:300;
    color:white;
    margin-bottom: 40px;
   
    text-align: center;


} 
.hero .btn {
    width:130px;
    background-color: var(--orange);
    color:white;
    text-align:center;
    padding-top:10px;
    font-size:12px;
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
    height: 50px;
    padding-top:15px;
    font-weight: 500;


}

/* end hero */
/* start services */
.services {
    width:100%;
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;
}
.services .container {

    display:flex;
    justify-content: space-between;
    margin-bottom: 40px;
    flex-wrap: wrap;

}
.services .container .service {
   
    width:24%;
    text-align: center;
    padding-top:30px;

    

}

@media (max-width:990px){
    .services .container .service {
   
        width:48%;
        text-align: center;
        padding-top:30px;      
    
    }
}
@media (max-width:767px){

    .services .container .service {
       
        width:70%;
        text-align: center;
        padding-top:30px; 
        margin-left: auto;        
        margin-right: auto;
    }
}


.services .container .service i {
    color:white;
    width:70px;
    height:70px;
    border-radius:50%;
    background-color: var(--green);
    font-size:18px;
    padding-top:30px;
    margin-bottom: 15px;
    
}
.services .container .service h5 {

    font-weight: 500;
    margin-bottom: 30px;
    
}
.services .container .service p {

    font-weight: 400;
    font-size:12px;
    color:#777;
}
.services .btn {
    width:130px;
    background-color: var(--orange);
    color:white;
    text-align:center;
    padding-top:10px;
    font-size:12px;
    border-radius: 15px;
    margin-left:auto;
    margin-right:auto;
    height: 50px;
    padding-top:15px;
    font-weight: 500;

}


/* end services */
/* start browser */
.browsers {
    width:100%;
    background-color: var(--orange);
    text-align: center;
    padding-top: 30px;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;


}
.browsers h2 {

    font-weight:400;
    color:white;
    margin-bottom: 15px;

}
.browsers p {
    font-weight:300;
    font-size: 12px;
    margin-bottom: 40px;
    color:white;
    width: 70%;
    margin-left:auto;
    margin-right: auto;

}
.browsers img {
    width: 70%;
    margin-left:auto;
    margin-right: auto;
}


/* end browser */
/* start phones */
.phones {
    margin-bottom: 30px;
    font-family: 'Roboto', sans-serif;

    width:100%
}
.phones .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.phones .container .phone-images {
    width: 45%;
    padding-left:40px;
    padding-top:30px;
    
}
.phones .container .phone-images img{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.phones .container .phone-content {
    width:45%;
    text-align: left;
    padding-top: 50px;
    margin-top: 30px;
}
@media (max-width:767px) {
    .phones .container .phone-images {
        width:100% ;
    }

    .phones .container .phone-content {    
        width:100%;
        text-align: center;
        padding-top: 50px;
    }
        .phones .container .phone-content .btn {
            margin-left: auto;
            margin-right: auto;
    }

 
}
 
.phones .container .phone-content h2 {
    margin-bottom: 40px;
    font-weight: 400;
    
}
.phones .container .phone-content p {

    margin-bottom: 40px;

    font-weight: 300;
    font-size: 10px;
    color:#777;
}
.phones .container .phone-content .btn {

    width:130px;
    background-color: var(--orange);
    color:white;
    text-align:center;
    padding-top:10px;
    font-size:12px;
    border-radius: 5px;
    font-weight: 400;  
    height: 50px;
    padding-top:15px

}



/* end phones */
/* start portifolio */

.portifolio {
    padding-top:30px;
    background-color: var(--green);
    clear:left;
    width:100%
}
.portifolio .container >h1 {
    text-align: center;
    color:white;
    font-weight: 400;
    margin-bottom: 30px;
    font-size: 18px;
    
}
.portifolio .container >p {
    color:white;
    text-align: center;
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 10px;

}

.portifolio .container ul{
    display:flex;
    justify-content: space-between;
    
    margin-left: auto;
    margin-right: auto;
    width:50%
}

.portifolio .container ul li {
    
    cursor: pointer;
    font-weight: 400;
    list-style: none;
   
    
}
.portifolio .container ul li:hover{
    color:white;

}

.portifolio .container ul li.active {
    
    color: white;


}
.portifolio .ourworks {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    
}
.portifolio .ourworks .work-box {
    background-color: var(--nelle);
    width:32%;
    height:200px;
    padding-top:130px;
    margin-bottom: 20px;  
    font-weight: 400; 
}

@media (max-width:990px)  {
    .portifolio .ourworks .work-box{
        width: 48%;
    }
    .portifolio .container ul{
        width: 70%;
    }
}

@media (max-width:767px) {
   
    .portifolio .container ul {
        width: 90%;
    }

}
.portifolio .ourworks .work{
    background-color: white;
    height: 70px;
    text-align: center;
}
 .hidden {
    display:none;
}
.portifolio .ourworks .hide {
    display:none
}
.portifolio .ourworks h5 {

    font-size: 18px;

}
.portifolio .ourworks p {
    color:#777;
    font-size: 10px;

}
@media (max-width:767px) {
    .portifolio .ourworks .work-box{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
   
    
    .portifolio .ourworks .work{
        background-color: white;
    
        text-align: center;
        padding-top: 15px;
        padding-left: 5px;
        padding-left: 5px;
    
    }

    .portifolio .ourworks h5 {
            font-size: 14px;
    }

}
.portifolio i {
    color:var(--green);
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    padding:20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  
}
.portifolio .container {
    text-align: center;
}
/* end portifolio */
/* start stats */
.stats {
    background-color: var(--black);
    width:100%;

}
.stats .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.stats .container .stat {

    width: 24%;
    padding-top: 10px;
    text-align: center;

}
@media (max-width:767px) {

    .stats .container .stat {

        width: 48%;        
        margin-bottom: 30px;
    
    }

}
.stats .container .stat i {
    color: red;
    font-size: 20px;
    margin-bottom: 20px;

}
.stats .container .stat h4 {
    font-weight: 400;
    font-size:20px;
    color:white;
    margin-bottom: 20px;
}
.stats .container .stat p {

    color:var(--green);
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 20px;
}
/* end stats */
/* start team  */
.ourteam {margin-bottom: 40px; width:100%}
.ourteam .container {
    text-align: center;
    padding-top: 30px;
}
.ourteam .container h1 {
    font-weight: 400;
    margin-bottom: 20px;
    
}
.ourteam .container>p {
    color:#777;
    font-size: 12px;
    line-height:1,7;
    margin-bottom: 40px;
    font-weight: 400;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.ourteam .container .teams {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.ourteam .teams .team-box {
    width:23%;
    height: 300px;
    padding-top: 150px;
    background-color: var(--nelle);

}
@media (max-width:767px){
    .ourteam .teams .team-box{
        width: 80%;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;


    }

}
@media (min-width:767px) and (max-width:990px){
    .ourteam .teams .team-box{
        width: 48%;
        margin-bottom: 30px;
    }


}
.ourteam .teams .team-box .box-content {
    height: 150px;
    background-color: var(--green);
    padding-top: 10px;
    
}
.ourteam  .team-box .box-content h5 {
    color:black;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;

}
.ourteam  .team-box .box-content h6 {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px;
}
.ourteam  .team-box .box-content p {
    color:#777;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 20px;

}
/*  end team  */
/* start quote */
.quote {
    width:100%;
    padding-top: 40px;
    text-align: center;
    background-color: var(--orange);
    height: 300px;
    
}
.quote>i {
    color:white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--black);
    margin-bottom: 10px;
    padding-top: 15px;
}
.quote>h4 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}
.quote>h6 {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    
}
.quote div {
    position: relative;
    width: 160px;
    margin-left: auto;
    margin-right: auto;

}
.quote div i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color:var(--orange);
    padding-top: 15px;


}
.quote div i.fa-angle-left {
    position: absolute;
    left:10px;
    top:10px;

}
.quote div i.fa-angle-right {
    position: absolute;
    right:10px;
    top:10px;

}
.news {
    background-color: var(--black);
    padding-top: 40px;
    text-align: center;
    height: 200px;
    width:100%
}
.news h4 {
    color:white;
    font-weight: 400;
    margin-bottom: 20px;
}
.news p {
    width: 100px;
    height: 50px;
    color:white;
    text-align: center;
    padding-top: 10px;
    border:1px solid var(--green);
    margin-left:auto;
    margin-right: auto;


}
/* end quote */
/* start about  */
.about {
    margin-bottom: 30px;
    width:100%
}
.about .container {
    padding-top:50px;
    display:flex;
    justify-content: space-between;
    
}
.about .container .box {
    width:50%;
}
@media (max-width:990px){
    .about .container .box {
        display:none;
        margin-left: auto;
        margin-right: auto;
    }

}
.about .container .box .background {
    width:80%;
    margin-top:10px;
    margin-left:auto;
    margin-right: auto;
    background-color: var(--nelle);
    height: 250px;

}
.about .container .about-content {
    width: 50%;
    padding-top:30px;
    padding-left:20px;
    text-align: left;
}
@media (max-width:990px){
    .about .container .about-content{
        width:100%;
        text-align: center;
    }

}
.about .container .about-content h4 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 20px;
    

}
.about .container .about-content p {
    color:#777;
    font-size:12px;
    font-weight: 400;
    margin-bottom: 20px;


}

/* end about  */
/* start add  */
.add {
    background-color: var(--green);
    height: 250px;
    width:100%
}
.add .container {
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    flex-wrap: wrap;
}
.add .container .image {
    
    position: relative;
    width:30%;

}
.add .container .image img {
    height: 200px;
    position: absolute;
    left:150px;
    top:50px;
   

}
.add .container .add-content {
    width: 65%;
    padding-top: 80px;
    text-align: left;


}
@media (max-width:990px){

    .add .container .add-content {
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .add .container .image {
        display: none;
    }
    
        
}
.add .container .add-content h2{
    color:white;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;


    
}
.add .container .add-content h5 {
    font-weight: 400;
    font-size:16px ;
    margin-bottom: 10px;
}

.add .container .add-content p {
    color:white;
    font-size: 12px;
    font-weight: 400;

}


/* end add  */
/* start tesmonials  */
.testmonials .container {

    text-align: center;
}
.testmonials .container h1 {
    font-weight: 400;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.testmonials .container>p {
    width:60%;
    margin-left: auto;
    margin-right: auto;    
    font-weight: 400px;
    font-size: 12px;
    color:#777;
    margin-bottom: 40px;
}
.testmonials .testmonial  {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.testmonials .testmonial .box {
    width:30%;
    height: 150px;
    background-color: var(--green);
    font-weight: 400;
    
}
@media (max-width:767px) {
    .testmonials .testmonial .box {
        width:70%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
}
.testmonials .testmonial .box h3 {
    font-weight: 400;
    font-size: 14px;
    margin-top:10px;
    margin-bottom: 10px;
    color:white;
}
.testmonials .testmonial .box h4 {
    font-weight: 300;
    font-size: 12px;    
    margin-bottom: 20px; 


}
.testmonials .testmonial .box p {

    font-weight: 300;
    font-size: 10px;
    color:white;
    

}
/* end tesmonials  */
/* start contact  */
.contact {
    background-color: var(--orange);
    margin-top: 40px;

}
.contact .container {
    width:70%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.contact .container h1 {
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-top:40px;
    margin-bottom: 30px;

}
.contact .container p {
    color: white;
    font-weight: 300;
    font-size: 10px;    
    margin-bottom: 50px;
}
.contact .container .input {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.contact .container .input input {
    width: 45%;
    color: white;
    border:1px solid #fff;
    background-color: var(--orange);
    padding-left: 20px;
    height: 40px;

}

.contact .container textarea {
    width: 100%;
    color: white;
    margin-bottom: 40px;
    border:1px solid #fff;
    background-color: var(--orange);
    padding-left: 20px;
    height: 40px;
    padding-top: 10px;
}
.contact .container .submit {
    width: 150px !important;
    height: 40px!important;
    background-color: black;
    color:white;
    margin-left: auto;
    padding-top: 5px;
    display: block;
    border: none;
}
::placeholder {
    margin-top: 10px;

    color:white;
    opacity: 1;
}

@media (max-width:767px) {
    .contact .container .input input {


        width:80%;
        margin-left: auto;
        margin-right:auto;

        margin-bottom: 30px;
    }
    .contact .container textarea {

        height: 100px;

    }
    .contact .container .sumbit {

      margin-right: auto;
    }  
}
/* end contact  */
/* start map  */
.map {
    width: 100%;

    height: 250px;
    background-color: var(--nelle);
    padding-top:40px;
    padding-bottom: 40px;
}
.map .map-box {

    width: 350px;
    height:170px ;
    background-color: var(--green);
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: auto;
    padding-left: 30px;
    
}
.map .map-box h4 {

    font-weight: 300;
    font-size: 14px;
    color: white;
    margin-bottom: auto;
    
}
@media (max-width:767px) {
    
    .map .map-box {
        margin-right: auto;
        width: 100%;
    }


}
/* end map  */
/* START footer  */
footer {
    height: 100px;
    text-align: center;
    background-color: var(--black);
    color:white;
    padding-top: 40px;
}
footer span {
    color: #10cab7;
}
/* end footer  */